
<!---->
<div class="content">
	<div class="container">
		<div class="content-middle">
			<h2 class="middle">BEST SALES</h2>
			<div class="col-best">
				<div class="col-md-4">
					<a href="single.html"><div class="col-in">
						<div class="col-in-left">

							<%= image_tag 'ni.jpg', :class => "img-responsive" %>

						</div>
						</a>
						<div class="col-in-right grid_1 simpleCart_shelfItem">
							<h5>fuel t-shirt  mod : 9509</h5>
							<ul class="star">
								<li><a href="#"><i> </i> </a> </li>
								<li><a href="#"><i> </i> </a> </li>
								<li><a href="#"><i> </i> </a> </li>
								<li><i class="in-star"> </i>  </li>
							</ul>
							<!---->
							<a href="#" class="item_add"><span class="white item_price" >123 $ <i> </i> </span></a>
							<!---->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4">
					<a href="single.html"><div class="col-in">
						<div class="col-in-left">

							<%= image_tag 'ni1.jpg', :class => "img-responsive" %>

						</div>
						</a>
						<div class="col-in-right grid_1 simpleCart_shelfItem">
							<h5>fuel t-shirt  mod : 9509</h5>
							<ul class="star">
								<li><i> </i>  </li>
								<li><i> </i>  </li>
								<li><i> </i>  </li>
								<li><i class="in-star"> </i>  </li>
							</ul>
							<!---->
							<a href="#" class="item_add"><span class="white item_price" >123 $ <i> </i> </span></a>
							<!---->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4">
					<a href="single.html"><div class="col-in">
						<div class="col-in-left">

							<%= image_tag 'ni.jpg', :class => "img-responsive" %>

						</div>
						</a>
						<div class="col-in-right grid_1 simpleCart_shelfItem">
							<h5>fuel t-shirt  mod : 9509</h5>
							<ul class="star">
								<li><i> </i>  </li>
								<li><i> </i>  </li>
								<li><i> </i>  </li>
								<li><i class="in-star"> </i>  </li>
							</ul>
							<!---->
							<a href="#" class="item_add"><span class="white item_price" >123 $ <i> </i> </span></a>
							<!---->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>		
<!---->