<!---->		
<div class="content">
	<div class="container">	
		<div class="content-bottom">
			<div class="col-md-8 latter">
				<h6>NEWSLETTER</h6>
				<p>sign up now to our newsletter discount! to get the Welcome discount</p>
				
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 latter-right">
				
					<form>
					<div class="join">
						<input type="text" value="your email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your email here';}">
						<i> </i>
					</div>
						<input type="submit" value="join us">
					</form>
					
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>		
	<!---->